
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Michroma', sans-serif;
    background-color: #f1f1f1;
}



/* navigation bar will sit on the very top/will not move */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Keeps navbar on top */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.navbar a:hover {
    color: #f1f1f1; 
}

/* homepage section */
#homepage {
    background: linear-gradient(120deg, #f47cb9, #f9e7e5, #e93e88, #fdfdfd);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    color: white;
}

h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

/* gradient animation */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



/* about me sec tion */
#about-me {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(120deg, #fbf476, #f9e7e5, #f4adcc, #fdfdfd);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    padding: 20px 20px 50px;
    background-color: #f0f8ff;
    min-height: 100vh;
    flex-direction: column;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-text {
    flex: 1;
    min-width: 300px;
    text-align: left;
    margin-right: 20px;
}

.about-text h2 {
    font-size: 2rem;
    margin-top: 10px;
}

.about-text p {
    font-size: 1rem;
    margin-top: 10px;
}

/* table styling */
.about-table {
    flex: 1;
    min-width: 250px;
    margin-left: 20px;
}

.about-table h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 4px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* profile photo  */
.about-image {
    flex: 1;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding-top: 10px;
}

.about-image img {
    max-width: 60%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* responsive desgin for smaller screen*/
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-text, .about-table, .about-image {
        flex: 1;
        margin: 10px 0;
        text-align: center;
    }

    .about-image img {
        max-width: 70%;
    }

    table {
        font-size: 12px;
    }
}

/* photo gallery */

/* for the horizontal scroll*/
.gallery-wrapper {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 15px;
    padding: 0 20px;
    justify-content: flex-start;
    flex-direction: row;
}

.gallery-wrapper::-webkit-scrollbar {
    height: 10px;
}

.gallery-wrapper::-webkit-scrollbar-thumb {
    background: #f47cb9;
    border-radius: 5px;
}

.gallery-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* gallery section */
.gallery {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

.photo-item {
    flex-shrink: 0;
    width: 16.6%;
    height: 40vh;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    scroll-snap-align: center;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.photo-item:hover {
    transform: scale(1.05); 
}

/* hidden overlay with every picture */
.photo-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.photo-item:hover .photo-overlay {
    opacity: 1;
    transform: translateY(0);
}

/* mobile view for the pictures */
@media (max-width: 768px) {
    .gallery-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .photo-item {
        width: 90%; 
        height: auto;
    }
}

/* resume section*/
#resume {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, #f9e7e5, #fdfdfd, #e2efff);
    font-family: 'Michroma', sans-serif;
    color: #000;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}


.resume-title {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 3.5rem;
    font-style: italic;
    margin: 0;
}

/* photo and table container */
.photo-table-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px; 
    margin-top: 150px; 
}


.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 3px solid #000;
    border-radius: 5px;
}

.download-btn {
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.download-btn:hover {
    background-color: #000;
    color: #fff;
}

/* links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.social-icon {
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #0073b1;
}

.social-icon:nth-child(2):hover {
    color: #333; 
}

/* resume table */
.resume-table {
    flex-grow: 1;
}

.resume-table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
}

.resume-table th, .resume-table td {
    border: 2px solid #000;
    padding: 12px;
    text-align: center;
    font-size: 0.9rem;
}

.resume-table th {
    background-color: #000;
    color: #fff;
    font-size: 1rem;
}

/* skills set section set on the bottom of page */
.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: auto;
    margin-bottom: 20px;
}

.skills-icons i {
    font-size: 4rem;
    color: #000;
   
    padding: 20px;
   
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.skills-icons i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* for javascript section */
#javascript-cheat-sheet {
    position: relative;
    padding: 20px;
    background: linear-gradient(135deg, #005f73, #0a9396, #94d2bd, #e9d8a6);
    background-size: 400% 400%;
    animation: gradientMove 10s infinite alternate;
    color: #333;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

#javascript-cheat-sheet .cheat-sheet-title {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 2.5rem;
    color: #333;
}

/* cheat sheet container */
#javascript-cheat-sheet .cheat-sheet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px 20px;
}

/* boxes style */
#javascript-cheat-sheet .card {
    background-color: #fff;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#javascript-cheat-sheet .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#javascript-cheat-sheet .card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

#javascript-cheat-sheet .card p {
    font-size: 0.9rem;
    color: #666;
}
/* pop code styling */
#code-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#code-popup .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#code-popup #popup-code {
    white-space: pre-wrap;
    font-family: monospace;
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    max-height: 300px;
    overflow-y: auto; 
}

#code-popup #close-popup {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#code-popup #close-popup:hover {
    background-color: #000;
}


/* Contact Me Section */
#contact-me {
    padding: 40px 20px;
    background: linear-gradient(135deg, #e4a2e5, #f45a7b, #e93e88, #e4a2e5);
    color: #333;
    background-size: 400% 400%; 
    animation: gradientMove 10s infinite alternate; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Contact Header */
.contact-header {
    text-align: center;
    margin-bottom: 70px;
    
}

.shortcut-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;;
}

.contact-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -20px;
}

/* Contact Container */
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
}

/* Contact Info */
.contact-info {
    flex: 1;
    padding-right: 20px;
    border-right: 2px solid #ddd;
}

.contact-info h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-info a {
    color: #0073b1;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    font-size: 2rem;
    margin-right: 15px;
    color: #333;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0073b1;
}

/* Contact Form */
.contact-form {
    flex: 1;
}

.contact-form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#message-box {
    width: 100%;
    height: 150px;
    padding: 10px;
    
    border: 2px solid #ddd;
    border-radius: 5px;
    resize: none;
}

button {
    margin-top: 10px;
    background-color: #0073b1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #005580;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        gap: 20px;
    }

    .contact-info {
        border-right: none;
        padding-right: 0;
    }
}
